<p>footer works!</p>
<footer class="pmd-footer bg-dark pmd-footer-dark">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d854.0004627326864!2d-67.98530206782323!3d-38.92979214361126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30e608b85ac5%3A0x35095b5fd7df8a9a!2sParaguay%201050%2C%20R8324%20Cipolletti%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses-419!2sar!4v1694698182108!5m2!1ses-419!2sar" 
    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>



    <div class="container text-center">
        <div class="mb-3">
            <a href="javascript:void(0);" class="mb-3">
                <img src="C:\Users\marin\OneDrive\Imágenes\Captura de pantalla 2023-09-15 111427.png" alt="logo">
            </a>
        </div>
        <div class="mb-3">
            <p class="mb-0">Paraguay 1050, R8324 Cipolletti, Río Negro</p>
            <p class="mb-0">Contacto:</p>
            <p class="mb-0">Telefono:<a href="javascript:void(0);" class="primary"> 299-5460125</a></p>
            <p class="mb-0">Email:<a href="javascript:void(0);" class="primary"> oubeibaffiar@gmail.com</a></p>
        </div>
        
                    </svg>
                </i>
            </button>
          
                    </svg>
                </i>
            </button>
        </div>
    </div>




</footer>